<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Gallery
        </h1>
        <p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="ticket.html"> Gallery</a></p>
      </div>
    </div>
  </div>
</section>

<section class="upcoming-exibition-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Ongoing Exhibitions from the scratch</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <% @arts.each do |art| %>
        <div class="col-lg-4 col-md-6 single-exhibition">
          <div class="card d-block">
            <% if art.image.attached? %>
              <image src="<%=(url_for(art.image)) %>" height="300px" width="300px" class="card-img-top img-fluid"></image>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= art.title %></h5>
              <p class="card-text"><strong>Description: </strong><%= art.description %></p>
              <p class="card-text date"><Strong>Start Date:</Strong><%= art.date %></p>
              <p class="card-text"><strong>Start Bid: </strong><%= art.start_bid %></p>
              <%= link_to 'Bid' ,gallery_path(art), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>