<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-center">
      <div class="banner-content col-lg-8">
        <h6 class="text-white">Opening on 21st October, 2019</h6>
        <h1 class="text-white">
          Exhibition on Modern Era
        </h1>
        <p class="pt-20 pb-20 text-white">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. sed do eiusmod tempor incididunt..
        </p>
        <a href="#" class="primary-btn text-uppercase">Get Started</a>
      </div>
    </div>
  </div>
</section>

<section class="service-area pt-100" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="single-service">
          <span class="lnr lnr-clock"></span>
          <h4>Openning Hours</h4>
          <p>
            Mon - Fri: 10.00am to 05.00pm
            Sat: 12.00pm to 03.00 pm
            Sunday Closed
          </p>
          <div class="overlay">
            <div class="text">
              <p>
                Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features.that we use in life
              </p>
              <a href="#" class="text-uppercase primary-btn">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-service">
          <span class="lnr lnr-rocket"></span>
          <h4>Ongoing Exhibitions</h4>
          <p>
            Mon - Fri: 10.00am to 05.00pm
            Sat: 12.00pm to 03.00 pm
            Sunday Closed
          </p>
          <div class="overlay">
            <div class="text">
              <p>
                Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features.that we use in life
              </p>
              <a href="#" class="text-uppercase primary-btn">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-service">
          <span class="lnr lnr-briefcase"></span>
          <h4>Openning Events</h4>
          <p>
            Mon - Fri: 10.00am to 05.00pm
            Sat: 12.00pm to 03.00 pm
            Sunday Closed
          </p>
          <div class="overlay">
            <div class="text">
              <p>
                Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features.that we use in life
              </p>
              <a href="#" class="text-uppercase primary-btn">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="quote-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 quote-left">
        <h1>
          <span>Music</span> gives soul to the universe, <br>
          wings to the <span>mind</span>, flight <br>
          to the <span>imagination</span>.
        </h1>
      </div>
      <div class="col-lg-6 quote-right">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="exibition-area section-gap" id="exhibitions">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-10">
        <div class="title text-center">
          <h1 class="mb-10">Ongoing Exhibitions from the scratch</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="active-exibition-carusel">
        <div class="single-exibition item">
          <% image_tag 'frontend/e1.jpg' %>
          <ul class="tags">

          </ul>
          <p>
            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod tempor.
          </p>
          <h6 class="date">31st January, 2018</h6>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="upcoming-event-area section-gap" id="events">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-10">
        <div class="title text-center">
          <h1 class="mb-10">Checkout our Upcoming Events</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 event-left">
        <div class="single-events">
          <%= image_tag 'frontend/u1.jpg', class: 'img-fluid' %>
          <a href="#"><h4>Event on the rock solid carbon</h4></a>
          <h6><span>21st February</span> at Central government museum</h6>
          <p>
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
          </p>
          <a href="#" class="primary-btn text-uppercase">View Details</a>
        </div>
        <div class="single-events">
          <%= image_tag 'frontend/u3.jpg', class: 'img-fluid' %>
          <a href="#"><h4>Event on the rock solid carbon</h4></a>
          <h6><span>21st February</span> at Central government museum</h6>
          <p>
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
          </p>
          <a href="#" class="primary-btn text-uppercase">View Details</a>
        </div>
      </div>
      <div class="col-lg-6 event-right">
        <div class="single-events">
          <a href="#"><h4>Event on the rock solid carbon</h4></a>
          <h6><span>21st February</span> at Central government museum</h6>
          <p>
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
          </p>
          <a href="#" class="primary-btn text-uppercase">View Details</a>
          <%= image_tag 'frontend/u3.jpg', class: 'img-fluid' %>
        </div>
        <div class="single-events">
          <a href="#"><h4>Event on the rock solid carbon</h4></a>
          <h6><span>21st February</span> at Central government museum</h6>
          <p>
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
          </p>
          <a href="#" class="primary-btn text-uppercase">View Details</a>
          <%= image_tag 'frontend/u4.jpg', class: 'img-fluid' %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog-area section-gap" id="blog">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Latest From Our Blog</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 single-blog">
        <div class="thumb">
          <%= image_tag 'frontend/b1.jpg', class: 'img-fluid'%>
        </div>
        <p class="date">10 Jan 2018</p>
        <a href="#"><h4>Addiction When Gambling
          Becomes A Problem</h4></a>
        <p>
          inappropriate behavior ipsum dolor sit amet, consectetur.
        </p>
        <div class="meta-bottom d-flex justify-content-between">
          <p><span class="lnr lnr-heart"></span> 15 Likes</p>
          <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 single-blog">
        <div class="thumb">
          <%= image_tag 'frontend/b2.jpg', class: 'img-fluid'%>
        </div>
        <p class="date">10 Jan 2018</p>
        <a href="#"><h4>Addiction When Gambling
          Becomes A Problem</h4></a>
        <p>
          inappropriate behavior ipsum dolor sit amet, consectetur.
        </p>
        <div class="meta-bottom d-flex justify-content-between">
          <p><span class="lnr lnr-heart"></span> 15 Likes</p>
          <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 single-blog">
        <div class="thumb">
          <%= image_tag 'frontend/b3.jpg', class: 'img-fluid'%>
        </div>
        <p class="date">10 Jan 2018</p>
        <a href="#"><h4>Addiction When Gambling
          Becomes A Problem</h4></a>
        <p>
          inappropriate behavior ipsum dolor sit amet, consectetur.
        </p>
        <div class="meta-bottom d-flex justify-content-between">
          <p><span class="lnr lnr-heart"></span> 15 Likes</p>
          <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 single-blog">
        <div class="thumb">
          <%= image_tag 'frontend/b4.jpg', class: 'img-fluid'%>
        </div>
        <p class="date">10 Jan 2018</p>
        <a href="#"><h4>Addiction When Gambling
          Becomes A Problem</h4></a>
        <p>
          inappropriate behavior ipsum dolor sit amet, consectetur.
        </p>
        <div class="meta-bottom d-flex justify-content-between">
          <p><span class="lnr lnr-heart"></span> 15 Likes</p>
          <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gallery-area section-gap" id="gallery">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10 text-white">Our Exhibition Gallery</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div id="grid-container" class="row">
      <%= link_to '', class: 'single-gallery' do%>
        <%= image_tag 'frontend/g1.jpg', class: 'grid-item'%>
      <% end %>
      <%= link_to '', class: 'single-gallery' do%>
        <%= image_tag 'frontend/g2.jpg', class: 'grid-item'%>
      <% end %>
      <%= link_to '', class: 'single-gallery' do%>
        <%= image_tag 'frontend/g3.jpg', class: 'grid-item'%>
      <% end %>
      <%= link_to '', class: 'single-gallery' do%>
        <%= image_tag 'frontend/g4.jpg', class: 'grid-item'%>
      <% end %>
      <%= link_to '', class: 'single-gallery' do%>
        <%= image_tag 'frontend/g5.jpg', class: 'grid-item'%>
      <% end %>
      <%= link_to '', class: 'single-gallery' do%>
        <%= image_tag 'frontend/g6.jpg', class: 'grid-item'%>
      <% end %>
      <%= link_to '', class: 'single-gallery' do%>
        <%= image_tag 'frontend/g7.jpg', class: 'grid-item'%>
      <% end %>
      <%= link_to '', class: 'single-gallery' do%>
        <%= image_tag 'frontend/g8.jpg', class: 'grid-item'%>
      <% end %>
      <%= link_to '', class: 'single-gallery' do%>
        <%= image_tag 'frontend/g9.jpg', class: 'grid-item'%>
      <% end %>
      <%= link_to '', class: 'single-gallery' do%>
        <%= image_tag 'frontend/g10.jpg', class: 'grid-item'%>
      <% end %>
      <%= link_to '', class: 'single-gallery' do%>
        <%= image_tag 'frontend/g11.jpg', class: 'grid-item'%>
      <% end %>
      <%= link_to '', class: 'single-gallery' do%>
        <%= image_tag 'frontend/g12.jpg', class: 'grid-item'%>
      <% end %>
      <%= link_to '', class: 'single-gallery' do%>
        <%= image_tag 'frontend/g4.jpg', class: 'grid-item'%>
      <% end %>
      <%= link_to '', class: 'single-gallery' do%>
        <%= image_tag 'frontend/g5.jpg', class: 'grid-item'%>
      <% end %>
    </div>
  </div>
</section>

