<div class="left-side-menu">

  <div class="slimscroll-menu" id="left-side-menu-container">
    <!--LOGO-->
    <div class="menu-list">
      <%= link_to '', class: 'logo text-center' do %>
        <span class="logo-lg">
          <%= image_tag 'admin/logo.png', alt: '', height: '16', id: 'side-main-logo' %>
        </span>

        <span class="logo-sm">
          <%= image_tag 'admin/logo_sm.png', alt: '', height: '16' %>
        </span>
      <% end %>

      <!--- Sidemenu -->
      <ul class="metismenu side-nav">
        <li class="side-nav-title side-nav-item">Navigation</li>
        <li class="side-nav-item">
          <a href="javascript: void(0);" class="side-nav-link">
            <i class="dripicons-meter"></i>
            <span class="badge badge-success float-right">3</span>
            <span> Dashboard</span>
          </a>
          <ul class="side-nav-second-level" aria-expanded="false">
            <li>
              <%= link_to 'Statistics', admin_root_path%>
            </li>
          </ul>
        </li>

        <li class="side-nav-item">
          <a href="javascript: void(0);" class="side-nav-link">
            <i class="dripicons-view-apps"></i>
            <span> Artist </span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="side-nav-second-level" aria-expanded="false">
            <li>
              <%= link_to 'Artists', admin_artists_path%>
            </li>
            <li class="side-nav-item">
              <%= link_to 'Add Artist', new_admin_artist_path %>
            </li>
          </ul>
        </li>

        <li class="side-nav-item">
          <a href="javascript: void(0);" class="side-nav-link">
            <i class="dripicons-copy"></i>
            <span> Buyers </span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="side-nav-second-level" aria-expanded="false">
            <li>
              <%= link_to 'Buyer List', admin_buyers_path %>
            <li>
              <%= link_to 'Add Buyer', new_admin_buyer_path %>
            </li>
          </ul>
        </li>

        <li class="side-nav-item">
          <a href="javascript: void(0);" class="side-nav-link">
            <i class="dripicons-briefcase"></i>
            <span> Bids</span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="side-nav-second-level" aria-expanded="false">
            <li>
              <a href="ui-cards.html">Cards</a>
            </li>
            <li>
              <a href="ui-buttons.html">Buttons</a>
            </li>
            <li>
              <a href="ui-modals.html">Modals</a>
            </li>
            <li>
              <a href="ui-tabs.html">Tabs</a>
            </li>
            <li>
              <a href="ui-notifications.html">Notifications</a>
            </li>
            <li>
              <a href="ui-grid.html">Grid</a>
            </li>
            <li>
              <a href="ui-general.html">General</a>
            </li>
            <li>
              <a href="ui-typography.html">Typography</a>
            </li>
            <li>
              <a href="ui-icons.html">Icons</a>
            </li>
            <li>
              <a href="ui-spinners.html">Spinners</a>
            </li>
            <li>
              <a href="ui-dragula.html">Dragula</a>
            </li>
          </ul>
        </li>

        <li class="side-nav-item">
          <a href="javascript: void(0);" class="side-nav-link">
            <i class="dripicons-document"></i>
            <span> Blogs</span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="side-nav-second-level" aria-expanded="false">
            <li>
              <a href="form-elements.html">Basic Elements</a>
            </li>
            <li>
              <a href="form-advanced.html">Form Advanced</a>
            </li>
            <li>
              <a href="form-validation.html">Validation</a>
            </li>
            <li>
              <a href="form-wizard.html">Wizard</a>
            </li>
            <li>
              <a href="form-fileuploads.html">File Uploads</a>
            </li>
            <li>
              <a href="form-editors.html">Editors</a>
            </li>
          </ul>
        </li>

        <li class="side-nav-item">
          <a href="javascript: void(0);" class="side-nav-link">
            <i class="dripicons-graph-pie"></i>
            <span> Events </span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="side-nav-second-level" aria-expanded="false">
            <li>
              <a href="charts-chartjs.html">Chartjs</a>
            </li>
            <li>
              <a href="charts-brite.html">Britecharts</a>
            </li>
            <li class="side-nav-item">
              <a href="javascript: void(0);" aria-expanded="false">Apex Charts
                <span class="menu-arrow"></span>
              </a>
              <ul class="side-nav-third-level" aria-expanded="false">
                <li>
                  <a href="charts-apex-line.html">Line</a>
                </li>
                <li>
                  <a href="charts-apex-area.html">Area</a>
                </li>
                <li>
                  <a href="charts-apex-column.html">Column</a>
                </li>
                <li>
                  <a href="charts-apex-bar.html">Bar</a>
                </li>
                <li>
                  <a href="charts-apex-mixed.html">Mixed</a>
                </li>
                <li>
                  <a href="charts-apex-bubble.html">Bubble</a>
                </li>
                <li>
                  <a href="charts-apex-scatter.html">Scatter</a>
                </li>
                <li>
                  <a href="charts-apex-pie.html">Pie</a>
                </li>
                <li>
                  <a href="charts-apex-radialbar.html">RadialBar</a>
                </li>
                <li>
                  <a href="charts-apex-heatmap.html">Heatmap</a>
                </li>
                <li>
                  <a href="charts-apex-sparklines.html">Sparklines</a>
                </li>
                <li>
                  <a href="charts-apex-candlestick.html">Candlestick</a>
                </li>
                <li>
                  <a href="charts-apex-radar.html">Radar</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="charts-sparkline.html">Sparklines</a>
            </li>
          </ul>
        </li>

        <li class="side-nav-item">
          <a href="javascript: void(0);" class="side-nav-link">
            <i class="dripicons-list"></i>
            <span> Management </span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="side-nav-second-level" aria-expanded="false">
            <li>
              <a href="tables-basic.html">Basic Tables</a>
            </li>
            <li>
              <a href="tables-datatable.html">Data Tables</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>