<!DOCTYPE html>
<html lang="en">
<head>
  <title>ArtYetu</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" >
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'frontend', media: 'all'%>
</head>
<body>

<%= yield %>
<%= javascript_include_tag 'frontend'%>
</body>
</html>