<!DOCTYPE html>
<html lang="en">
<head>
  <title>ArtYetu Admin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'admin', media: 'all'%>
</head>

<body data-leftbar-theme="dark">
<div class="wrapper">
  <div id="vertical-sidebar-placeholder"></div>
    <%= render partial: 'artist/navs/left_sidebar' %>




  <div class="content-page">
    <div class="content">
        <%= render partial: 'artist/navs/topbar' %>

      <!-- Start Content-->
      <div class="container-fluid">
        <%= render partial: 'layouts/flash_messages' %>
        <%= yield %>
      </div>
    </div>
  </div>
  <footer class="footer">
    <%= render partial: 'layouts/footer' %>
  </footer>
</div>
</body>

<%= javascript_include_tag 'admin'%>
</html>