<div class="row">
  <div class="col-md-6 col-lg-3">
    <div class="card d-block">
      <div class="card-body">
        <% if @art.image.attached? %>
          <image src="<%=(url_for(@art.image)) %>" height="300px" width="300px"></image>
        <% end %>
        <h5 class="card-title"><%= @art.title %></h5>
        <p>
          <%= @art.description %>
        </p>
        <p>
          <strong>Date: </strong><%= @art.date.strftime("%D") %><br>
        </p>
        <p>
          Start Bid: <%= @art.start_bid %>
        </p>
        <%= link_to 'Edit', edit_artist_upload_art_path(@art), class: 'btn btn-primary' %>
        <%= link_to 'Back', artist_upload_art_index_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>